<div id="graphContainer">
    <!--Filter pane-->
    <form id="filterArea" action="cluster/submit" method="get">
        <div class="containerState" >
            <input type="submit" value="Calculate Clusters"/>
            <div id="state">{{state}}</div>
        </div>

        <h2>Service categories</h2>
        <div class="filterForm">
            {{#each serviceCategories}}
                <label>
                    <input name="services" value="{{this}}" type="checkbox" onchange="serviceFilterChanged(this)"/>
                    {{this}}
                </label>
            {{/each}}
        </div>

        <h2>Incident categories</h2>
        <div class="filterForm">
            {{#each incidentCategories}}
                <label>
                    <input name="incidents" value="{{this}}" type="checkbox" onchange="incidentFilterChanged(this)"/>
                    {{this}}
                </label>
            {{/each}}
        </div>
    </form>

    <!--Graph-->
    <div id="graphArea"></div>
    <script id="graph" src='/scripts/{{script}}.js'>{{{jsonStringify data}}}</script>
</div>