<div id="graphContainer">
    <!--Filter pane-->
    <div id="filterArea">
        <form class="filterForm">
            <label>
                <input type="radio" name="type" value="service" checked="checked" onchange="typeChanged(this)"/>
                Service cases
            </label>
            <label>
                <input type="radio" name="type" value="incident" onchange="typeChanged(this)"/>
                Incident reports
            </label>
            <label>
                <select id="serviceCategory" name="category">
                    {{#each serviceCategories}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <select id="incidentCategory" name="category" hidden="hidden" disabled="disabled">
                    {{#each incidentCategories}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                Category
            </label>
            <input type="submit" value="Submit" onsubmit="submitFilters()">
        </form>
    </div>

    <!--Graph-->
    <div id="graphWrapper">
        <h2 id="graphTitle">{{category}}</h2>
        <div id="graphArea"></div>
    </div>
    <script id="graph" src='/scripts/{{script}}.js'>{{{jsonStringify data}}}</script>
</div>